#tt-pageContent .container.tt-custom-mobile-indent {
    padding-left: 22px;
    padding-right: 22px
}

.tt-categories-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e7ea;
    margin-bottom: 30px
}

.tt-categories-title .tt-title {
    color: #303344;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .01em
}